 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
html {
    font-size: 10px;
    font-family: 'Bebas Neue', sans-serif;
}
body {
    position: relative;
    font-size: 1.6rem;
    background-image: url('./images/landing-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
    background-attachment: fixed;

}
.page {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 300px;
}
/* page info */
.page-info {
    
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0px 20px;
    position: relative;
    top: -30px;
}
.info {
    text-align: center;
}
.info h2{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
}
.info h1 {
    line-height: 110px;
    font-size: 170px;
    display: inline-block; 
    transform: scale(1, 0.6); 

}
.info p {
    padding: 30px 0px 100px 0px;
    line-height: 30px;
    font-size: 2rem;
    font-weight: 100;
}
.auth {
    display: flex;
    justify-content: center;

}
.login label{
    display: inline-block;
    width: 200px;
    padding: 20px 0px;
    text-align: center;
    border: 1px solid #fff;
    font-size: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.register label{
    display: inline-block;
    width: 200px;
    padding: 20px 0px;
    text-align: center;
    border: 1px solid #fff;
    font-size: 25px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.login label span{
    cursor: pointer;
}
#toggle-login:checked + label {
    background-color: #fff;
    color: #333;
    transition: 0.3s;
}
#toggle-register:checked + label {
    background-color: #fff;
    color: #333;
    transition: 0.3s;
}
/* end page info */

/* page form */
.page-form {
    display: flex;
    padding: 10px 40px;
    position: relative;
    top: -150px;
    left: 50px;
    z-index: 2;
    
}
.login-form {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 50px 50px;
}
.login-form > a {
    position: absolute;
    left: -10%;
    top: -10%;
}
.form h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
    padding-bottom: 90px;
}
.username, .password {
    text-align: center;
}
.username input {
    padding: 15px 160px 15px 20px;
    position: relative;
    border-radius: 9px;
    border-color: rgb(206, 200, 200);
    /* border-color: #615dfa; */
    transition: border-color 0.3s;
}
.username span {
    position: absolute;
    left: 16%;
    top: 31.5%;
    color: rgb(146, 142, 142);
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #fff;
    transition: top 0.3s;
}
#username-lbl:focus ~ .text {
    border-color: #615dfa;
    top: 27.5%;
}
#username-lbl:not(:focus):not(:placeholder-shown) ~ .text {
    top: 27.5%;
}
#username-lbl:focus {
    border-color: #615dfa;
}
.password {
    padding: 25px 0px;
}
.password input {
    padding: 15px 160px 15px 20px;
    position: relative;
    border-radius: 9px;
    border-color: rgb(206, 200, 200);
    /* border-color: #615dfa; */
    transition: border-color 0.3s;
}
.password span {
    position: absolute;
    left: 16%;
    top: 43.5%;
    color: rgb(146, 142, 142);
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #fff;
    transition: top 0.3s;
}
#password-lbl:focus ~ .text {
    border-color: #615dfa;
    top: 39.5%;
}
#password-lbl:not(:focus):not(:placeholder-shown) ~ .text {
    top: 39.5%;
}
#password-lbl:focus {
    border-color: #615dfa;
}
.check {
    display: flex;
    justify-content: space-between;
}
.checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
}
.checkbox-inner {
    border: 1px solid grey;
    padding: 10px 10px;
    border-radius: 3px;
    position: relative;
}
.checkbox-inner .left {
    background-color: #fff;
    border: 2px solid #fff;
    padding: 0px 6px;
    position: absolute;
    top: 40%;
    left: 13%;
    transform: rotate(50deg);
    opacity: 0;
    visibility: hidden;
}
.checkbox-inner .right {
    background-color: #fff;
    border: 2px solid #fff;
    padding: 0px 6px;
    position: absolute;
    top: 40%;
    left: 13%;
    transform: rotate(130deg);
    opacity: 0;
    visibility: hidden;
}
#toggle-check:checked ~ .checkbox-inner .left,
#toggle-check:checked ~ .checkbox-inner .right,
#toggle-check:checked ~ .checkbox-inner {
    opacity: 1;
    visibility: visible;
    background-color: #23d2e2;
}

.check .right a{
    color: rgb(146, 142, 142);
    text-decoration: none;
}

.confirm {
    text-align: center;
    padding: 20px 0px;
}
.confirm button{
    width: 100%;
    padding: 17px 0px;
    border-radius: 10px;
    background-color: #615dfa;
    border-color: #615dfa;
    color: #fff;
    font-weight: bolder;
}

.social-account{
    margin: 20px 0px;
}
.social-account hr{
    position: relative;
}
.social-account span {
    position: absolute;
    left: 30.5%;
    top: 75%;
    background-color: #fff;
    padding: 0px 20px;
    
}

.social-account-link {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding-top: 15px;
    align-items: center;
}
.facebook, .twitch, .twitter, .youtube {
    position: relative;
    top: 0;
    transition: top 0.3s;
}
.facebook:hover, .twitch:hover, .twitter:hover, .youtube:hover {
    top: -5px;
}

/* nen mau trang-right */
body::before {
    content: "";
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(70%); 
    width: 200vh;  
    height: 200vh;
    background-color: white;
    background-image: radial-gradient(#ccc 1px, transparent 1px);
    background-size: 20px 20px;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
}
/* end */

/* register + login */
.page:has(#toggle-login:checked) .register-form {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
  position: absolute;
  pointer-events: none;
}

.page:has(#toggle-register:checked) .login-form {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
  position: absolute;
  pointer-events: none;
}

/* Show active form */
.page:has(#toggle-login:checked) .login-form {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  pointer-events: auto;
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
  position: relative;
}

.page:has(#toggle-register:checked) .register-form {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  pointer-events: auto;
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
  position: relative;
}
/* end register + login */
/* .login-form {
    display: none;
}





.register-form{
    display: none;
} */
/* register */
.register-form {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 50px 50px;
    transform: translateY(-7%);
}
.register-form > a {
    position: absolute;
    left: -10%;
    top: -10%;
}
.register-form .form h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
    padding-bottom: 50px;
}
.username, .password, .email, .repass {
    text-align: center;
}
.register-form  .username, .password {
    padding-top: 25px;
}
.register-form  .username input {
    padding: 15px 160px 15px 20px;
    position: relative;
    border-radius: 9px;
    border-color: rgb(206, 200, 200);
    /* border-color: #615dfa; */
    transition: border-color 0.3s;
}
.register-form  .username span {
    position: absolute;
    left: 16%;
    top: 36%;
    color: rgb(146, 142, 142);
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #fff;
    transition: top 0.3s;
}
.register-form #username-lbl:focus ~ .text {
    border-color: #615dfa;
    top: 32.5%;
}
.register-form #username-lbl:not(:focus):not(:placeholder-shown) ~ .text {
    top: 32.5%;
}
.register-form #username-lbl:focus {
    border-color: #615dfa;
}
.register-form .password input {
    padding: 15px 160px 15px 20px;
    position: relative;
    border-radius: 9px;
    border-color: rgb(206, 200, 200);
    /* border-color: #615dfa; */
    transition: border-color 0.3s;
}
.register-form .password span {
    position: absolute;
    left: 16%;
    top: 48%;
    color: rgb(146, 142, 142);
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #fff;
    transition: top 0.3s;
}
.register-form #password-lbl:focus ~ .text {
    border-color: #615dfa;
    top: 44%;
}
.register-form #password-lbl:not(:focus):not(:placeholder-shown) ~ .text {
    top: 44%;
}
.register-form #password-lbl:focus {
    border-color: #615dfa;
}
.check {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
}
.checkbox-inner {
    border: 1px solid grey;
    padding: 10px 10px;
    border-radius: 3px;
    position: relative;
}
.checkbox-inner .left {
    background-color: #fff;
    border: 2px solid #fff;
    padding: 0px 6px;
    position: absolute;
    top: 40%;
    left: 13%;
    transform: rotate(50deg);
    opacity: 0;
    visibility: hidden;
}
.checkbox-inner .right {
    background-color: #fff;
    border: 2px solid #fff;
    padding: 0px 6px;
    position: absolute;
    top: 40%;
    left: 13%;
    transform: rotate(130deg);
    opacity: 0;
    visibility: hidden;
}
#toggle-send:checked ~ .checkbox-inner .left,
#toggle-send:checked ~ .checkbox-inner .right,
#toggle-send:checked ~ .checkbox-inner {
    opacity: 1;
    visibility: visible;
    background-color: #23d2e2;
}

.check .right a{
    color: rgb(146, 142, 142);
    text-decoration: none;
}

.register-form .confirm {
    text-align: center;
    padding: 20px 0px;
}
.register-form .confirm button{
    width: 100%;
    padding: 17px 0px;
    border-radius: 10px;
    background-color: #23d2e2;
    border-color: #23d2e2;
    color: #fff;
    font-weight: bolder;
}
/* end register */

/* test */
.email input {
    padding: 15px 160px 15px 20px;
    position: relative;
    border-radius: 9px;
    border-color: rgb(206, 200, 200);
    /* border-color: #615dfa; */
    transition: border-color 0.3s;
}
.email span {
    position: absolute;
    left: 16%;
    top: 24.5%;
    color: rgb(146, 142, 142);
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #fff;
    transition: top 0.3s;
}
#email-lbl:focus ~ .text {
    border-color: #615dfa;
    top: 21%;
}
#email-lbl:not(:focus):not(:placeholder-shown) ~ .text {
    top: 21%;
}
#email-lbl:focus {
    border-color: #615dfa;
}
.repass input {
    padding: 15px 160px 15px 20px;
    position: relative;
    border-radius: 9px;
    border-color: rgb(206, 200, 200);
    /* border-color: #615dfa; */
    transition: border-color 0.3s;
}
.repass span {
    position: absolute;
    left: 16%;
    top: 59.5%;
    color: rgb(146, 142, 142);
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #fff;
    transition: top 0.3s;
}
#repass-lbl:focus ~ .text {
    border-color: #615dfa;
    top: 55.5%;
}
#repass-lbl:not(:focus):not(:placeholder-shown) ~ .text {
    top: 55.5%;
}
#repass-lbl:focus {
    border-color: #615dfa;
}
.note span{
    color: #23d2e2;

}

/* responsive  */
@media screen and (max-width: 1499px) {
    body::before {
        display: none;
    }
}
@media screen and (max-width: 1365px) {
    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }
    .page-form {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 50px;
    }
    .info p {
        padding-bottom: 50px;
    }
    .login-form {
        width: 456px;
        text-align: center;
    }
}